# The service port.
PORT=4000

# The signer (gas payer) private key.
PRIVATE_KEY=

# The private key to the loot box.
LOOT_BOX_PK=

# The RPC URL for the Optimism network.
OP_PROVIDER=https://purple-frosty-orb.optimism-sepolia.quiknode.pro/<token>

# The schema UID for the Optimism network.
SCHEMA_UID=<your_schema_uid_here>