string userID, string portOrCompanyName, string[] portOrCompanyCoordinates, string actionType, string actionDate, string[] actionCoordinates, string collectorName, string[] incomingMaterials, uint256[] incomingWeightsKg, string[] incomingCodes, string[] outgoingMaterials, uint256[] outgoingWeightsKg, string[] outgoingCodes, string productName, string batchQuantity, string weightPerItemKg